<section class="bg-white h-screen w-full">
    <div class="flex w-full bg-red-600">
        <div class="w-full max-w-[336px] relative">
            <img class="w-full h-full object-cover" src="http://fleet.synsoftglobal.net:4004/images/car.jpg"
                alt="Bonnie Avatar">
            <div class="absolute inset-0 bg-gradient-to-b from-[#125893] to-[#18abcd8f]"></div>
        </div>
        <div class="items-center w-full max-w-6/12">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>